@media (max-width: 1200px) {
    
    #slideshow_area {
        display: none;
    }
}

@media (max-width: 875px) {
    #main_menu ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4rem;
    }
}

@media (max-width: 520px) {
    #clients ul {
        width: 320px;
    }

    #main_menu ul {
        flex-direction: column;
    }

    #header .container {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    #header .container h1 {
        width: fit-content;
    }
}